/* This removes the white space surrounding all of the flex boxes. */
html, body {
    margin:0;
    padding:0
}

.header-container, .hero, .footer {
    background:#1F2937;
    color: #E5E7EB;
    font-size: 24px; 
}

.header-container {    
    gap: 8px;
    display: flex;
}

.header {
    display:flex;
    flex: 1;
}

.header-link {
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.footer {
    text-align: center;
}

.img {
    height: auto;
    width: 500px;
}

.container {
    height: 200px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.item {
    width: 200px;
    height: 200px;
    border: 4px solid darkslategray;    
}

.button,
.call {
    background: #3882F6;
    color: #F9FAF8;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.quote-container {
    display: flex;
}

.quote {
    background: #E5E7EB;
    font: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    padding: 100px;
    flex: 1;
}

