* {
    background:cornflowerblue;
    color:coral;
    font-family: 'Times New Roman', serif;

}

.header {
    text-align: center;
}

.footer {
    text-align: center;
}

.img {
    height: auto;
    width: 500px;
}

.flex-container {
    background: lightblue;
    padding: 16px;
    border: 4px solid blue;
    gap: 8px;
    display: flex;
}

.flex-container div {
    background: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    padding: 4px;
}